@font-face {
    font-family: FiraSans;
    src: url('../fonts/firasans-book.woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: FiraSansLight;
    src: url('../fonts/firasans-light.woff');
    font-style: normal;
    font-weight: normal;
}

html, body {
	min-width: 960px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url('../img/comppattern2.png');
	font-family: FiraSans;
}

header {
	background-color: #eff3f7;
	height: 116px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	display: inline;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 18px;
	height: 68px;
	width: auto;
    line-height: 70px;
    font-size: 21px;
    color: #3ba8c0;
    border-bottom:2px solid #3ba8c0;
}

nav {
	display: block;
	float: left;
	/*width: 251px;*/
}

section {
	display: block;
	float: right;
	min-width: 650px;
	margin-bottom: 26px;
	border-radius: 2px;
	background-color: #eff3f7;
}

footer {
	background-color: #eff3f7;
	height: 76px;
	margin-left: auto;
	margin-right: auto;
}
.header-content {
	margin-left: auto;
	margin-right: auto;
	line-height: 116px;
	width: 960px;
	background: #eff3f7;
}

/* Logo vertical align */
.header-content img {
	vertical-align: middle;
}

.line-gradient {
	clear: both;
	height: 3px;
	background: -webkit-radial-gradient(#1e677b, #e7eff3); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#1e677b, #e7eff3); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#1e677b, #e7eff3); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#1e677b, #e7eff3); /* Standard syntax (must be last) */
}

.main-content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 38px;
	min-height: 100%;
	margin-bottom: -76px;
	width: 960px;
}
.main-content:after {
	content: "";
	display: block;
}

.share {
	float: right;
}
.social {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    	-moz-border-radius: 23px;
    	-webkit-border-radius: 23px;
    vertical-align: middle;
    margin-right: 16px;
    background: #58697a;
    background-image: url('../img/social-buttons.png');
    background-repeat: no-repeat;
}

.social-vk {
	margin-left: 20px;
	background-position: 0px 0px;
}
.social-vk:hover {
	background: #3ba8c0;
	background-image: url('../img/social-buttons.png');
	background-position: 0px 0px;
}

.social-tw {
	background-position: -73px 0px;
}

.social-tw:hover {
	background: #3ba8c0;
	background-image: url('../img/social-buttons.png');
	background-position: -73px 0px;
}

.social-fb {
	background-position: -143px 0px;
}

.social-fb:hover {
	background: #3ba8c0;
	background-image: url('../img/social-buttons.png');
	background-position: -143px 0px;
}

.social-gh {
	background-position: -214px 0px;
	margin-right: 0px;
	text-align: left;
}

.social-gh:hover {
	background: #3ba8c0;
	background-image: url('../img/social-buttons.png');
	background-position: -214px 0px;
}

.side-menu {
    margin:0;
    padding:0px;
    list-style:none;
    width:251px;
}

.side-menu>.opened>a{
    background:#3ba8c0;
    color: #fff;
}

.side-menu>.about-me>a{
	 border-bottom:none;
	 color: #959aa8;
}

.side-menu>li{
    color:#5eb3c8;
    background:#eff3f7;
}

.side-menu>li:last-child{
    border-bottom:none;
}
.side-menu a{
    display:block;
    height: 70px;
    line-height: 70px;
    padding-left: 28px;
    background:#eff3f7;
    text-decoration:none;
    font-size: 21px;
    border-bottom:2px solid #3ba8c0;
    color:#5eb3c8;
}

.side-menu a:first-child{
	border-radius: 2px 2px 0px 0px;
}

.description {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.info {
	margin-top: 27px;
	margin-bottom: 20px;
	margin-left: 54px;
	background-repeat: no-repeat;
    background-position: 0px center;
}

.work {
	background-image: url('../img/work.png');
}

.degree {
	background-image: url('../img/learn.png');
}

.courses {
	background-image: url('../img/courses.png');
}

.title {
	margin-left: 65px; 
	font-size: 17px;
}

.time {
	margin-left: 65px; 
	font-family: FiraSansLight;
	font-size: 15px;
}

.main-content:after, .sticky-footer {
	height: 76px;
}

.footer-content {
	margin-left: auto;
	margin-right: auto;
	line-height: 76px;
	width: 960px;
	background: #eff3f7;
}

.footer-content img {
	margin-left: 36px;
	vertical-align: middle;
}
.copyright {
	float: right;
	margin-right: 280px;
	font-family: FiraSansLight;
	font-size: 13px;
}
